@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(50, 49, 49);
  color: rgb(76, 14, 105);
  text-align: center;
  margin-top: 100px;
  font-family: 'Courier New', Courier, monospace;
}
h1 {
  color: rgba(104, 215, 255, 0.7);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-shadow: 5px 3px rgba(70, 70, 250, 0.601);
}
.card {
  background-color: rgba(104, 215, 255, 0.7);
  border-radius: 75px 20px;
  width: 75%;
  box-shadow: 30px 20px rgba(70, 70, 250, 0.601);
}
#postLyrics {
  background-color: rgba(104, 215, 255, 0.7);
  margin: 25px;
  box-shadow: 7px 5px rgba(70, 70, 250, 0.601);
  border: none;
  color: rgb(76, 14, 105);
}
.lyrics {
  margin: 10px 50px 10px 50px;
  font-family: "Courier";
  font-size: 1rem;
}
.row {
  width: 80%;
  margin: 0px;
}
#inputContainer {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
@media (max-width: 900px) {
  .row {
    width: 100%;
  }
}
#cardTitle {
  padding: 25px 25px 0px 25px;
}
